#result_list {
    background: #0197cf;
    text-align: left;
    color: #ec82d2;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    position: fixed;
    top: 28px;
    right: 10px;
    border-radius: 14px;
}

.case_table {
    margin: 10px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.case_td {
    border-spacing: 0px;
    border: 1px dashed rgb(206, 233, 29);
    padding: 6px;
}

.case_item_name {
    color: whitesmoke;
}

.case_item_count {
    color: pink;
    width: 128px;
    font-weight: bold;
}

.item_group_0 {
    height: 20px;
    line-height: 20px;
}

.btn_count {
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    border-radius: 14px;
    background-color: #0197cf;
    color: white;
}